apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  registry: {{ registry_host }}
  calicoNetwork:
    bgp: Disabled
    ipPools:
    - blockSize: 26
      cidr: {{ calico_pool_cidr | default(kube_pods_subnet) }}
      encapsulation: VXLAN
      natOutgoing: Enabled
      nodeSelector: all()

---
apiVersion: operator.tigera.io/v1
kind: APIServer 
metadata: 
  name: default 
spec: {}
