images:
  operator: {{ registry_host }}/k8snetworkplumbingwg/sriov-network-operator:v1.2.0
  sriovConfigDaemon: {{ registry_host }}/k8snetworkplumbingwg/sriov-network-operator-config-daemon:v1.2.0
  sriovCni: {{ registry_host }}/k8snetworkplumbingwg/sriov-cni:v2.6.3
  ibSriovCni: {{ registry_host }}/k8snetworkplumbingwg/ib-sriov-cni:v1.0.2
  sriovDevicePlugin: {{ registry_host }}/k8snetworkplumbingwg/sriov-network-device-plugin:v3.5.1
  resourcesInjector: {{ registry_host }}/k8snetworkplumbingwg/network-resources-injector:v1.4
  webhook: {{ registry_host }}/k8snetworkplumbingwg/sriov-network-operator-webhook:v1.2.0
